:root {
    --moori-ext-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' d='M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z'/></svg>");
}

.md-header__button.md-logo {
    border-radius: 50%;
}

/*
.md-grid {
    max-width: 100%;
}

@media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
        width: auto;
        min-width: 20rem;
    }

    .md-search__inner {
        width: 32rem;
    }
}
*/

a[href*="//"]:not([href*="docs.app-flix.de"]):after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    content: "";
    -webkit-mask-image: var(--moori-ext-icon);
    mask-image: var(--moori-ext-icon);
}

a.linked-img:after {
    display: none;
}

